.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto 0 auto;
  max-width: 1180px;

}
.stats-row {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.stats-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  min-width: 250px;
  border: 3px solid #054f89;
  border-radius: 15px;
  color: #054f89;
  font-size: 20px;
  font-weight: 500;
}