.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto 0 auto;
  max-width: 1180px;
}
.home-button {
  height: 200px;
  width: 25%;
  border: 3px solid #054f89;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #054f89;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  max-width: 300px;
}
.home-button:hover {
  transform: translateY(-5px);
}