.App {
  position: relative;
}

.header {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 80%;
  z-index: 5;
  max-width: 1180px;
  left: 0;
  right: 0;
  margin: auto
}
.header-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.off-home-link {
  pointer-events: auto;
  visibility: visible;
}
.home-link {
  pointer-events: none;
  visibility: hidden;
}
.home-link, .off-home-link  {
  color: #054f89;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  z-index: 8;
}
.header-img {
  transform: rotate(180deg) translateY(-5px);
}
.main-container {
  height: 100vh;
  width: 100%;
}